* {
    box-sizing: border-box;
    font-family: "Spicy Rice", serif;
    margin: auto;
}

body, html {
    width: 100%;
    margin: 0;
    background-image: url("/public/pictures/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    cursor: url('/public/pictures/cursor.png'), auto;
}

.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    text-align: center;
    width: 100%;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
}

.logo-txt {
    width: 80%;
    cursor: pointer;
}

.logo-txt:nth-child(1) {
    filter: drop-shadow(10px 10px 3px black);
}

.logo-txt img {
    width: 100%;
}

.logo-txt:nth-child(1):hover {
    filter: drop-shadow(10px 10px 3px gray);
}

.navigation {
    display: flex;
    justify-content: space-around;
    width: 80%;
    font-family: "Spicy Rice", serif;
    margin-top: 2em;
}

.nav-btn {
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 6px;
    padding: 0.3em 0.5em;
    box-shadow: 1px 1px 9px 9px gray;
    cursor: pointer;
}

.nav-btn:hover {
    box-shadow: 1px 1px 9px 9px black;
}

.play-btn {
    color: whitesmoke;
    background-color: #F74A43;
    padding: 0.6em 1em;
    font-size: 2rem;
    font-weight: 800;
    border: none;
    border-radius: 7px;
    box-shadow: 1px 1px 9px 9px gray;
    margin-top: 4em;
    margin-bottom: 3em;;
    cursor: pointer;
    font-family: "Permanent Marker", cursive;
}

.play-btn:hover {
    box-shadow: 1px 1px 9px 9px black;
    color: gray;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding: 2em;
}

/* ------------------------------------------------------481 px------------------------------------ */

@media only screen and (min-width: 481px) {

    .logo-txt {
        width: 50%;
    }

    .home-page, .about-page, .contact-page {
        height: 120vh;
    }

    .nav-btn {
        color: black;
    }

}

/* ---------------------------------------------------------720 px------------------------------------*/

@media only screen and (min-width: 720px) {

    .header {
        flex-direction: row;
    }

    .logo-txt {
        width: 25%;
        margin-left: 3em;
    }

    .navigation {
        width: 50%;
        margin-top: 4em;
    }

    .nav-btn {
        color: whitesmoke;
        font-size: 1.7rem;
        font-weight: bold;
        padding: 0.5em 0.7em;
        color: #232E62;
    }

    .play-btn {
        margin-left: 2em;
    }

    .footer {
        flex-direction: row;
    }

}