* {
    box-sizing: border-box;
    margin: auto;
}

body {
   height: 95vh;
   margin: 0; 
}

.home-page {
    background-color: #052540;
    height: 93vh;
}

.about-page {
    background-color: #232E62;
}

.contact-page{
    background-color: #F74A43;
}

.header{
    background-color: #85BB65;
}

.footer{
    background-color: #5CC3B1;
}